<div class="main-search">
  <div class="video-container">
    <video loop [muted]="true" autoplay>
      <source src="https://test-video-bucket-darren.s3-ap-southeast-1.amazonaws.com/test.mp4" type="video/mp4" />
    </video>
    <div class="content-holder">
      <div class="content-holder-inner container">
        <span class="hero-text">Building Good From The Ground Up</span>
        <span class="hero-small"
          >Find initiatives and activities to volunteer at <br />
          from all around Singapore</span
        >
      </div>
    </div>
    <div class="content-holder">
      <div class="content-holder-inner container">
        <span class="hero-text">Building Good From The Ground Up</span>
        <span class="hero-small"
          >Find initiatives and activities to volunteer at <br />
          from all around Singapore</span
        >
      </div>
    </div>
  </div>
</div>
