@import '../../../../variables.scss';

.main-page-listings-wrapper {
  width: auto;
}

.main-page-listings-div {
  height: inherit;
  width: inherit;
  margin: 20px;
}

.title {
  text-align: center;
  margin: 20px;
  color: #dfab19;
  font-size: 1.75rem;
  font-weight: 600;
}

.grid-div {
  display: block;
}

.cause-div {
  padding: 5px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 15px;
  font-weight: 600;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: $mobile-large) {
  .mobile-grid-causes-div {
    .grid-div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: $tablet-small) {
  .mobile-grid-causes-div {
    .grid-div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: $tablet-xlarge) {
  .main-grid-listing-div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .main-grid-organisations-div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
