<div class="wrapper">
  <div class="photo-div">
    <img src="{{ profileData.profile_picture }}" alt="" />
  </div>
  <div class="profile-div">
    <div class="info-div">
      <div id="nickname">{{ profileData.nickname }}</div>
      <div id="about">{{ profileData.occupation }}</div>
    </div>
    <div class="contact-div">
      <div class="chat-button-div">
        <img src="../../../../../assets/icons/message-icon.png" alt="" />
        <span>Send Message</span>
      </div>
      <span>
        <img src="../../../../../assets/icons/twitter-icon.png" alt="" />
        <img src="../../../../../assets/icons/linkedin-icon.png" alt="" />
        <img src="../../../../../assets/icons/facebook-icon.png" alt="" />
      </span>
    </div>
  </div>
</div>
