.wrapper {
  margin-top: 50px;
}
.title-div {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;

  img {
    width: 20px;
  }
  span {
    padding-top: 2px;
  }
}
.about-div {
  margin: 5px;
  text-align: center;
}
