<div class="listing">
  <main-header></main-header>
  <div>
    <img src="../../../../assets/images/listing-banner.png" class="banner" />
  </div>
  <div class="listing-card">
    <div class="container">
      <div class="listing-profile-picture">
        <img src="../../../../assets/images/listing-profile-picture.png" />
      </div>
      <div class="row">
        <h3>Project Kampong</h3>
      </div>
      <div class="row category">
        <p>Community</p>
      </div>
      <div class="row tagline">
        <p>Building Good From The Ground Up</p>
      </div>
      <div class="row">
        <img src="../../../../assets/icons/linkedin-icon.png" class="icon" />
        <img src="../../../../assets/icons/facebook-icon.png" class="icon" />
        <img src="../../../../assets/icons/twitter-icon.png" class="icon" />
        <img src="../../../../assets/icons/share-icon.png" class="icon" />
      </div>
      <div class="row">
        <button class="button primary">
          <img src="../../../../assets/icons/heart-icon.png" class="like-icon" />
          Like Us
        </button>
        <button class="button">Enquire Us</button>
      </div>
    </div>
  </div>
</div>
