<div class="main-footer-wrapper">
  <div class="wrapper-div">
    <div class="logo-div">
      <img id="logo" src="../../../assets/images/kampong-logo-white.png" />
    </div>
    <div class="links-div">
      <div class="link-col">
        <label>Social Media</label>
        <ul>
          <li>
            <a href="https://www.instagram.com/projectkampong/" target="_blank"> Instagram </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/project-kampong" target="_blank"> Linkedin </a>
          </li>
        </ul>
      </div>
      <div class="link-col">
        <label>Policy</label>
        <ul>
          <li>
            <a href="#"> Terms of service </a>
          </li>
          <li>
            <a href="#"> Privacy Policy </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <modal></modal>
  <div class="small-div">
    <small>Copyright © 2021 Kampong. All Rights Reserved.</small>
  </div>
</div>
