<div class="main-header-wrapper">
  <div class="mobile-wrapper-div">
    <img id="logo" src="../../../../assets/icons/kampong-icon.ico" alt="" />
    <div class="search-div">
      <div class="search-inner-div">
        <img id="search-icon" src="../../../../assets/icons/search-icon.png" alt="" />
        <form>
          <input class="search-input" type="text" id="search" name="search" placeholder="Search" />
        </form>
      </div>
    </div>
    <div class="mobile-menu-div" (click)="toggleMenu()">
      <img id="menu" src="../../../../assets/icons/hamburger-icon.png" alt="" />
    </div>
    <nav id="nav-toggle" class="nav-toggle-none nav-toggle">
      <ul>
        <li>Home</li>
        <li>Notifications</li>
        <li>Chat</li>
        <li>Initiate</li>
        <li>Login</li>
      </ul>
    </nav>
  </div>
  <div class="tablet-desktop-wrapper-div">
    <img id="logo" src="../../../../assets/images/kampong-logo.png" alt="" />
    <div class="search-div">
      <div class="search-inner-div">
        <img id="search-icon" src="../../../../assets/icons/search-icon.png" alt="" />
        <form>
          <input class="search-input" type="text" id="search" name="search" placeholder="Search" />
        </form>
      </div>
    </div>
    <div class="btn-div">
      <img id="icon" logo src="../../../../assets/icons/home-icon.png" alt="" />
      <img id="icon" logo src="../../../../assets/icons/notification-icon.png" alt="" />
      <img id="icon" logo src="../../../../assets/icons/chat-icon.png" alt="" />
      <div class="login-btn" routerLink="/login">Login</div>
    </div>
  </div>
</div>

<!--
  <div class="wrapper-div">
    <img id="logo" src="../../../../assets/icons/kampong-icon.ico" alt="" />
    <div class="m-menu-wrapper">
      <div class="menu-div" (click)="toggleMenu()">
        <img id="menu" src="../../../../assets/icons/hamburger-icon.png" alt="" />
      </div>
      <nav id="nav-toggle" class="nav-toggle">
        <ul>
          <li>About Us</li>
          <li>Search</li>
          <li>Listings</li>
          <li>Organisations</li>
          <li>Login</li>
        </ul>
      </nav>
    </div>
    <div class="menu-wrapper">
      <div class="nav-bar"></div>
    </div>
  </div>
-->
