@import '../../../../variables.scss';

.wrapper {
  height: 50px;
  background-color: #ffffff;
}

.wrapper-div {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logo {
  margin: auto 10px auto 10px;
  height: 1.5rem;
}

.m-menu-wrapper {
  height: inherit;
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.menu-div {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}

#menu {
  margin-top: auto;
  margin-bottom: auto;
  height: 36px;
}

nav {
  display: flex;
  position: absolute;
  background-color: #ddd5bd;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 500;
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -webkit-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
}

.nav-toggle {
  top: -25%;
  display: none;
  opacity: 0.1;
}

nav ul {
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: inherit;
}

nav ul li {
  width: inherit;
  margin: 5px 0px 5px 0px;
  padding-left: 10px;
}

nav ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.menu-wrapper {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: $tablet-large) {
  .m-menu-wrapper {
    display: none;
  }
  .wrapper-div {
    justify-content: space-between;
  }
}
