<div class="wrapper">
  <div class="wrapper-div">
    <img id="logo" src="../../../../assets/images/kampong-logo.png" alt="" />
    <div class="m-menu-wrapper">
      <div class="menu-div" (click)="toggleMenu()">
        <img id="menu" src="../../../../assets/icons/hamburger-icon.png" alt="" />
      </div>
      <nav id="nav-toggle" class="nav-toggle">
        <ul>
          <li>About Us</li>
          <li>Search</li>
          <li>Listings</li>
          <li>Organisations</li>
          <li>Login</li>
        </ul>
      </nav>
    </div>
    <div class="menu-wrapper">
      <div class="nav-bar">Testing</div>
    </div>
  </div>
</div>
