<div class="main-header-wrapper">
  <div class="mobile-wrapper-div">
    <img routerLink="/" id="logo" src="../../../../assets/icons/kampong-icon.ico" alt="" />
    <div class="search-div">
      <div class="search-inner-div">
        <img routerLink="/" id="search-icon" src="../../../../assets/icons/search-icon.png" alt="" />
        <form>
          <input class="search-input" type="text" id="search" name="search" placeholder="Search" />
        </form>
      </div>
    </div>
    <div class="mobile-menu-div" (click)="toggleMenu()">
      <img id="menu" src="../../../../assets/icons/hamburger-icon.png" alt="" />
    </div>
    <nav id="nav-toggle" class="nav-toggle-none nav-toggle">
      <div class="nav-pane">
        <div class="mobile-btn-div">
          <div *ngIf="isLoggedIn" class="mobile-profile-div">
            <img src="{{ profileData.profile_picture }}" alt="" />
            <div class="mobile-profile-info">
              <div id="nickname">{{ profileData.nickname }}</div>
              <div id="occupation">{{ profileData.occupation }}</div>
            </div>
          </div>
          <div class="mobile-btn-row">
            <img routerLink="/" id="icon" logo src="../../../../assets/icons/home-icon.png" alt="" />
            <span routerLink="/">Home</span>
          </div>
          <div *ngIf="isLoggedIn" class="mobile-btn-row">
            <img id="icon" logo src="../../../../assets/icons/notification-icon.png" alt="" />
            <span>Notifications</span>
          </div>
          <div *ngIf="isLoggedIn" class="mobile-btn-row" (click)="routeToChat()">
            <img id="icon" logo src="../../../../assets/icons/chat-icon.png" alt="" />
            <span>Chat</span>
          </div>
          <div *ngIf="isLoggedIn" class="mobile-btn-row" (click)="routeToProfile()">
            <img id="icon" logo src="../../../../assets/icons/profile-icon.png" alt="" />
            <span>Profile</span>
          </div>
          <div *ngIf="isLoggedIn" class="mobile-btn-row">
            <img id="icon" logo src="../../../../assets/icons/initiate-icon.png" alt="" />
            <span>Initiate</span>
          </div>
          <div *ngIf="!isLoggedIn" class="mobile-btn-row">
            <img routerLink="/login" id="icon" logo src="../../../../assets/icons/login-icon.png" alt="" />
            <span routerLink="/login">Login</span>
          </div>
          <div *ngIf="isLoggedIn" class="mobile-btn-row">
            <img (click)="logoutUser()" id="icon" logo src="../../../../assets/icons/logout-icon.png" alt="" />
            <span (click)="logoutUser()">Logout</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="tablet-desktop-wrapper-div">
    <img routerLink="/" id="logo" src="../../../../assets/images/kampong-logo.png" alt="" />
    <div class="search-div">
      <div class="search-inner-div">
        <img id="search-icon" src="../../../../assets/icons/search-icon.png" alt="" />
        <form>
          <input class="search-input" type="text" id="search" name="search" placeholder="Search" />
        </form>
      </div>
    </div>
    <div class="btn-div">
      <img routerLink="/" id="icon" logo src="../../../../assets/icons/home-icon.png" alt="" />
      <img (click)="toggleNotification()" *ngIf="isLoggedIn" id="icon" logo src="../../../../assets/icons/notification-icon.png" alt="" />
      <img (click)="toggleChat()" *ngIf="isLoggedIn" id="icon" logo src="../../../../assets/icons/chat-icon.png" alt="" />
      <div *ngIf="!isLoggedIn" class="login-btn" routerLink="/login">Login</div>
      <div *ngIf="isLoggedIn" class="init-btn">Initiate</div>
      <div *ngIf="isLoggedIn" class="profile-div">
        <header-profile *ngIf="isProfileDropdown" [logoutUser]="logoutUser" [profileData]="profileData" [routeToProfile]="routeToProfile">
        </header-profile>
        <img id="profile-picture" src="{{ profileData.profile_picture }}" alt="" />
        <div (click)="toggleProfile()" class="nickname-div">{{ profileData.nickname }}</div>
        <img (click)="toggleProfile()" id="dropdown" src="../../../../assets/icons/dropdown-icon.png" alt="" />
      </div>
    </div>
    <header-notification *ngIf="isNotificationDropdown"></header-notification>
    <header-chat *ngIf="isChatDropdown"></header-chat>
  </div>
</div>

<!--
        <ul>
        <li routerLink="/">Home</li>
        <li>Notifications</li>
        <li>Chat</li>
        <li>Initiate</li>
        <li routerLink="/login">Login</li>
      </ul>
-->
