@import '../../../../variables.scss';

.main-header-wrapper {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 500;
}

.mobile-wrapper-div {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  #logo {
    margin: auto 10px auto 10px;
    height: inherit;
  }
}

.search-div {
  width: 70%;
  height: fit-content;
  margin: auto;
  border: white solid 0.5px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px;
}

.search-inner-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

form {
  float: left;
  display: flex;
  flex-direction: row;
  height: 80%;
  flex-basis: 100%;
  margin: auto 0px auto 0px;

  .search-input {
    float: left;
    flex-basis: 100%;
    border: none;
    margin: auto 10px auto 10px;
    height: 80%;
    background-color: #f2f2f2;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
  #search-icon {
    float: left;
  }
}

.mobile-menu-div {
  height: inherit;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0px 10px 0px 10px;

  #menu {
    margin: auto 0px auto 0px;
    height: 36px;
  }
}

.nav-toggle-none {
  display: none;
}

.nav-toggle {
  position: fixed;
  top: 50px;
  width: 100%;
  left: 0;
  z-index: 500;
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -webkit-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.nav-toggle ul {
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: inherit;
  position: fixed;
  background-color: #ddd5bd;
}

.nav-toggle ul li {
  width: inherit;
  margin: 5px 0px 5px 0px;
  padding-left: 10px;
}

.nav-toggle ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.tablet-desktop-wrapper-div {
  display: none;
}

.btn-div {
  height: inherit;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  #icon {
    height: 24px;
  }
  .login-btn {
    width: 25%;
    border: #ffcd43 solid 0.5px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    background-color: #ffcd43;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: $tablet-large) {
  .main-header-wrapper {
    position: relative;
    height: 80px;
  }
  .mobile-wrapper-div {
    display: none;
  }
  .tablet-desktop-wrapper-div {
    display: block;
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #logo {
    height: 20px;
    margin: auto 30px auto 30px;
    width: auto;
  }
  .search-div {
    width: 45%;
  }
}

@media screen and (min-width: $desktop-full) {
  .search-div {
    width: 55%;
  }
  #logo {
    height: 30px;
    margin: auto 30px auto 50px;
    width: auto;
  }
}

@media screen and (min-width: $desktop-quad) {
  .search-div {
    width: 65%;
  }
}

@media screen and (min-width: $desktop-ultra) {
  .search-div {
    width: 70%;
  }
}
