<main-header></main-header>
<section class="container block-content">
  <div nz-col nzSpan="24" class="onboarding-header">
    <h1>Let's Get Started!</h1>
    <p>Welcome to Kampong! Help us get to know you better by completing your profile setup.</p>
  </div>

  <nz-steps nzSpan="20" nzType="navigation" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="Profile"></nz-step>
    <nz-step nzTitle="Occupation"></nz-step>
    <nz-step nzTitle="About"></nz-step>
  </nz-steps>

  <div nz-col nzSpan="24" class="steps-container">
    <div nzSpan="24" class="step-container" *ngIf="index == 0">
      <form nz-form [formGroup]="editProfileForm" class="form-group">
        <nz-form-label [nzXs]="24" nzFor="profile-picture" class="form-label">Profile Picture</nz-form-label>
        <div class="custom-input">
          <label for="file-upload">
            <div class="profile-image">
              <img src="{{ profileData.profile_picture }}" />
            </div>
          </label>
          <input type="file" accept="image/*" id="file-upload" (change)="uploadFile($event)" />
        </div>
        <nz-form-label [nzXs]="24" nzRequired nzFor="about" class="form-label">Date of Birth</nz-form-label>
        <nz-form-item>
          <div>
            <nz-form-control nzHasFeedback>
              <nz-date-picker nzSize="large" formControlName="dob" required></nz-date-picker>
            </nz-form-control>
          </div>
          <!-- Errors Validation -->
          <div class="error-msg" *ngIf="editProfileForm.controls['dob'].errors?.required">Date Of Birth is required</div>
          <!-- End of Errors Validation -->
        </nz-form-item>
      </form>
    </div>
    <div nzSpan="24" class="step-container" *ngIf="index == 1">
      <form nz-form [formGroup]="editProfileForm" class="form-group">
        <nz-form-item>
          <nz-form-label [nzXs]="24" nzRequired nzFor="occupation" class="form-label">Occupation</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input placeholder="Occupation" nz-input type="occupation" formControlName="occupation" />
          </nz-form-control>
          <!-- Errors Validation -->
          <div class="error-msg" *ngIf="editProfileForm.controls['occupation'].errors?.required">Occupation is required</div>
          <div class="error-msg" *ngIf="editProfileForm.controls['occupation'].errors?.maxlength">
            Occupation must not be more than 30 characters long.
          </div>
          <div class="error-msg" *ngIf="editProfileForm.controls['occupation'].errors?.pattern">Special characters not allowed</div>
          <!-- End of Errors Validation -->
        </nz-form-item>
      </form>
    </div>
    <div nzSpan="24" class="step-container" *ngIf="index == 2">
      <form nz-form [formGroup]="editProfileForm" class="form-group">
        <nz-form-item class="full-width">
          <nz-form-label [nzXs]="24" nzRequired nzFor="about" class="form-label">About Me</nz-form-label>
          <nz-form-control nzHasFeedback>
            <textarea type="about" formControlName="about" nz-input placeholder="Tell us about yourself" [nzAutosize]="{ minRows: 10 }"></textarea>
          </nz-form-control>
          <!-- Errors Validation -->
          <div class="error-msg" *ngIf="editProfileForm.controls['about'].errors?.required">About is required</div>
          <div class="error-msg" *ngIf="editProfileForm.controls['about'].errors?.maxlength">About must not be more than 1000 characters long.</div>
          <div class="error-msg" *ngIf="editProfileForm.controls['about'].errors?.pattern">Special characters not allowed</div>
          <!-- End of Errors Validation -->
        </nz-form-item>
      </form>
      <button nz-button nzType="primary" [nzLoading]="isLoading" [disabled]="getFormValidationErrors()" class="submit-button" (click)="saveProfile()">
        Complete
      </button>
    </div>
  </div>
</section>
