<section class="container block-content">
  <div nz-col nzSpan="24" class="onboarding-header">
    <h1>Let's Get Started!</h1>
    <p>Welcome to Kampong! Help us get to know you better by completing your profile setup.</p>
  </div>

  <nz-steps nzType="navigation" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="Profile Picture"></nz-step>
    <nz-step nzTitle="Occupation"></nz-step>
    <nz-step nzTitle="About"></nz-step>
  </nz-steps>

  <div nz-col nzSpan="24" class="steps-container">
    <div nzSpan="24" class="step-container" *ngIf="index == 0">
      <form nz-form [formGroup]="editProfileForm" class="form-group">
        <div class="profile-image">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="profile_picture">Profile Picture</nz-form-label>
          <img nz-image width="200px" height="200px" nzSrc="{{ profileData.profile_picture }}" alt="" />
          <input type="file" accept="image/*" id="file-upload" (change)="uploadFile($event)" />
        </div>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nickname">Username</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input placeholder="Username" nz-input type="nickname" formControlName="nickname" />
          </nz-form-control>
          <!-- Errors Validation -->
          <div class="error-msg" *ngIf="editProfileForm.get('nickname').hasError('required')">Username is required (shifted to registration)</div>
          <div class="error-msg" *ngIf="editProfileForm.get('nickname').hasError('maxlength')">
            Username must not be more than 15 characters long.
          </div>
          <div class="error-msg" *ngIf="editProfileForm.get('nickname').hasError('pattern')">Special characters not allowed</div>
          <!-- End of Errors Validation -->
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nickname">Date of Birth</nz-form-label>
          <nz-date-picker formControlName="dob" [nzFormat]="dateFormat" required></nz-date-picker>
          <!-- Errors Validation -->
          <div class="error-msg" *ngIf="editProfileForm.get('dob').hasError('required')">Date Of Birth is required</div>
          <!-- End of Errors Validation -->
        </nz-form-item>
      </form>
    </div>
    <div nzSpan="24" class="step-container" *ngIf="index == 1">
      <form nz-form [formGroup]="editProfileForm" class="form-group">
        <nz-form-item class="full-width">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="occupation">Occupation</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input placeholder="Occupation" nz-input type="occupation" formControlName="occupation" />
          </nz-form-control>
          <!-- Errors Validation -->
          <div class="error-msg" *ngIf="editProfileForm.get('occupation').hasError('required')">Occupation is required</div>
          <div class="error-msg" *ngIf="editProfileForm.get('occupation').hasError('maxlength')">
            Occupation must not be more than 30 characters long.
          </div>
          <div class="error-msg" *ngIf="editProfileForm.get('occupation').hasError('pattern')">Special characters not allowed</div>
          <!-- End of Errors Validation -->
        </nz-form-item>
      </form>
    </div>
    <div nzSpan="24" class="step-container" *ngIf="index == 2">
      <form nz-form [formGroup]="editProfileForm" class="form-group">
        <nz-form-item class="full-width">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="about">About Me</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input placeholder="Tell us about yourself" nz-input type="about" formControlName="about" />
          </nz-form-control>
          <!-- Errors Validation -->
          <div class="error-msg" *ngIf="editProfileForm.get('about').hasError('required')">About is required</div>
          <div class="error-msg" *ngIf="editProfileForm.get('about').hasError('maxlength')">About must not be more than 1000 characters long.</div>
          <div class="error-msg" *ngIf="editProfileForm.get('about').hasError('pattern')">Special characters not allowed</div>
          <!-- End of Errors Validation -->
        </nz-form-item>
      </form>
      <button nz-button [disabled]="getFormValidationErrors()" class="stepper-complete" (click)="saveProfile()" mat-button matStepperNext>
        Complete
      </button>
    </div>
  </div>
</section>
